.button {
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 29px;
  padding: 21px 38px;
}

.button--red {
  color: #d22856;
  border: 3px solid #d22856;
}

.button--grey {
  color: #283645;
  border: 3px solid #283645;
}
