@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2"),
    url("../fonts/opensans.woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2"),
    url("../fonts/opensansbold.woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2"),
    url("../fonts/opensanslight.woff");
  font-style: normal;
  font-weight: lighter;
  font-display: swap;
}

.body {
  max-width: 320px;
  background: tan;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
