.form__label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.form__text {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
}

.form__checkboxes {
  list-style: none;
}

.form__indicator {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form__button {
  padding: 21px 43px;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
