.socials {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #283645;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

.socials__link--twitter {
  width: 18px;
  height: 14px;
}

.socials__link--facebook {
  width: 9px;
  height: 18px;
}

.socials__link--youtube {
  width: 15px;
  height: 13px;
}
