.tariff__table-yes {
background-image: url("../img/icon-yes.svg");
background-repeat: no-repeat;
background-position: center;
}

.tariff__table-yes {
background-image: url("../img/icon-no.svg");
background-repeat: no-repeat;
background-position: center;
}
